#mes-projets .Portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    position: relative;
}

/* Head*/

.Portfolio span:nth-child(1) {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.Portfolio span:nth-child(2) {
    color: var(--pinkCard);
    font-size: 3.5rem;
    font-weight: bold;
}

/* Slider */

.Portfolio .swiper {
    overflow: visible !important;
}

.Portfolio-slider {
    margin-top: 3rem;
    width: 100%;

}

.Portfolio-slider .swiper-slider {
    width: 20rem;
}

.Portfolio img {
    width: 25rem;
    height: 100%;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0.25));
    border-radius: 19px;
    cursor: pointer;

}

/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Modal Container */
.modal {
    background-color: #eee;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    height: auto;
    width: 80%;
    height: 90%;
    gap: 20px;
    overflow: hidden;
}

/* Section de l'image (gauche) */
.modal-left {
    flex: 1;
    /* Prend une part équitable de l'espace */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.modal-left img {
    max-width: 100%;
    max-height: 79vh;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Section du contenu (droite) */
.modal-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 10px;

}

.modal-right p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

.modal-right strong {
    font-weight: bold;
    color: var(--pinkCard);
}

/* Bouton de fermeture */
.modal .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: #fe81df;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.modal .close-button:hover {
    transform: scale(1.2);
    color: #555;
}

/* Lien Github */
/*.modal .lienGithub {
    align-self: flex-start;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border-radius: 7px;
    background-color: var(--orange);
    color: white;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.modal .lienGithub:hover {
    background-color: darkorange;
    transform: translateY(-2px);
}*/
.modal-content .lienGithub {
    align-self: flex-start;
    background-color: var(--pinkCard);
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 622px;
}

.modal-content .lienGithub:hover {
    background-color: gray;
    transform: translateY(-3px);
}





.modal-content {
    /* display: flex;
    align-items: center;
    height: 90%;
*/
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    padding: 14px;
}

.modal-content p {
    /*font-size: x-large;
    font-weight: bold;
    color: dimgray;
*/
    font-size: 20px;
    color: lightgray;
    text-align: justify;
}

.modal-content strong {
    font-size: larger;

}



/***************************fleches slider**********/
.navigation-arrow {
    position: absolute;
    top: 50%;
    width: 8px;
    height: 30px;
    cursor: pointer;
    z-index: 10;
}

.left-arrow {
    left: 10px;
    transform: translateY(-50%);
}

.right-arrow {
    right: 10px;
    transform: translateY(-50%);
    width: 8%;
}

#mes-projets .right-arrow {
    width: 3%;
    height: 7%;
    /*border-radius: 79px;*/
    top: 19rem;
}

#mes-projets .left-arrow {
    width: 3%;
    height: 7%;
    /* border-radius: 79px;*/
    top: 19rem;
}

/*.Portfolio .right-arrow img {
    width: 6%;
    height: 5%;
    border-radius: 79px;
    top: 123rem;
}*/

.close-button {
    position: absolute;
    right: 150px;
    background: #F0F0F0;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: var(--orange);
}



/* images cliquables */
.Portfolio img {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 100%;
}



.button-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;
    position: relative;
    right: 37px;
    bottom: 79%;
}

/* Style des boutons */
.button-container button {
    width: 108px;
    height: 55px;
    border-radius: 10px;
    color: var(--orange);
    position: relative;
    right: 450px;
    bottom: 33px;
}

.button-container span {
    display: flex;
    border: 1px solid black;
    height: 50px;
    align-items: center;
    border-radius: 56%;
    justify-content: center;
    color: var(--orange);
    font-size: larger;
    width: 190px;
    position: relative;
    top: 21px;
}


/*******media*******/
@media only screen and (max-width: 1024px) {
    .modal {
        height: 88%;
    }

    .modal-content p {
        font-size: 15px;
    }

    .modal-right {
        padding: 0;
    }
}


@media only screen and (max-width: 768px) {



    #mes-projets .Portfolio {
        position: relative;
        /*top: 310px;*/
    }


    .modal {
        height: 744px;
    }

    .modal p {
        width: 192%;
        font-size: smaller;
    }

    .modal button {
        right: 87px;
    }

    .button-container button {
        width: 30%;
        position: static;
        margin-top: 10px;
    }

    .button-container span {
        width: 30%;
        top: 0;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
        top: -20%;
    }

    .button-container button,
    .button-container span {
        width: 130%;
        margin-bottom: 10px;
    }

    .modal .lienGithub {
        bottom: 211px;
        right: 150px;
    }
}


@media only screen and (max-width: 480px) {
    .modal {
        height: 665px;
    }

    .modal p {
        width: 100%;
    }

    .modal img {
        max-height: 15vh;
    }

    .button-container {
        top: -23%;
        right: 10px;
    }

    .button-container button {
        width: 130%;
    }

    .button-container span {
        width: 117%;
    }

    .modal button {
        right: 48px;
    }

    .modal .lienGithub {
        bottom: 291px;
        right: 80px;
        font-size: revert;
        width: 48px;
        height: 40px;
    }

    .modal-content {
        font-size: xx-small;
        height: 96%;
        width: 115%;
    }
}

@media only screen and (max-width: 425px) {

    .Portfolio .swiper {
        height: 135px;
    }

    .Portfolio {
        position: relative;
        top: 306px;
    }

    .modal {
        height: 755px;
    }

    .modal-content {
        width: 99%;
        height: 85%;
    }

    .modal p {
        font-size: larger;
    }

    .modal-content strong {
        font-size: x-large;
    }
}

@media only screen and (max-width: 400px) {
    #mes-projets .Portfolio {
        position: relative;
        top: 235px;
    }

    .modal {
        height: 80%;
        width: 80%;
    }

    .modal-content {
        height: 95%;
        width: 97%;
    }

    .modal-left {
        width: 44%;
        height: 8%;
    }

    .modal-right {
        width: 56%;
        height: 0px;
    }

    .modal img {
        width: 100%;
        left: 84px;
        height: 242%;
        position: relative;
    }

    .modal p {
        font-size: xx-small;
        position: fixed;
        margin-top: 92px;
        width: 58%;
        top: 176px;
        right: 75px;
    }

    .modal .lienGithub {
        width: 98px;
        position: relative;
        top: -53px;
        height: 50px;
        right: 20px;
    }

}

@media only screen and (max-width: 390px) {

    #mes-projets {
        /* margin-top: -350px;*/
        height: 272px;
    }

    #mes-projets .Portfolio {
        position: relative;
        top: -116px;
        height: 113%;
    }

    .Portfolio span:nth-child(1) {
        color: white;
        font-size: 2rem;
        font-weight: bold;
    }

    .Portfolio span:nth-child(2) {
        color: var(--orange);
        font-size: 2rem;
        font-weight: bold;
    }

    .Portfolio img {
        height: 90%;
    }

    .Portfolio .swiper {
        height: 110px;
    }

    #mes-projets .right-arrow {
        top: 11rem;
        right: -1px;
    }

    #mes-projets .left-arrow {
        top: 11rem;
        left: -1px;
    }
}

@media only screen and (max-width: 266px) {

    .modal-content strong {
        font-size: larger;
    }

    .modal p {
        margin-top: 0;
        top: 169px;
    }

    .modal .lienGithub {
        bottom: 266px;
        right: -16px;
        top: 0;
        margin-top: 0;
        right: 111px;
    }

    .Portfolio .swiper {
        height: 137px;
    }
}