#Contact {
    background-color: rgba(97, 95, 99, 0.051);
    /*border: 2px solid black;*/
    padding: 20px 20px 50px 20px;
    display: flex;
    justify-content: space-around;
    position: relative;

}

#Contact form {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 45px;
    gap: 5px;
    background-color: black;
    color: white;
    border-radius: 30px;
}

#Contact input {
    width: 100%;
    height: 35px;
    border: inherit;
    border-radius: 20px;
}

textarea {
    color: #FCA61F;
}

#Contact button {
    border-radius: 20px;
    width: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 209px;
    top: 25px;

}

.contact-infos {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    width: 277px;
    position: relative;
    height: 312px;
    padding: 20px;
    top: 75px;
}

.contact-infos-name {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.contact-infos-number {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.contact-infos-mail {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

/*.contact-infos name {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contact-infos number {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contact-infos mail {
    display: flex;
    align-items: center;
    cursor: pointer;
}*/

.contact-infos-icon {
    width: 45px;
    height: auto;
    transition: all 0.8s ease;

}

.contact-infos-icon :hover {
    transition: all 0.8s ease;
    transform: scale(1.1) rotate(360deg)
}

.contact-infos-text {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.contact-infos-text:hover {
    transition: all 0.3s ease;
    color: #FCA61F;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

/********** media **************/
@media only screen and (max-width: 768px) {
    #Contact {

        height: 390px;
    }

    #Contact button {
        position: relative;
        left: 58px;
    }
}

@media only screen and (max-width: 425px) {

    #Contact {
        width: 90%;
        padding: 20px 20px 30px 20px;
    }

    #Contact form {
        width: 45%;
        padding: 20px;

    }

    #Contact button {
        left: 8px;
        top: 9px;
        width: 95px;
    }

    .contact-infos {
        padding: 10px;
    }

    .contact-infos-text {
        overflow-wrap: anywhere;
    }
}

@media only screen and (max-width: 320px) {


    #Contact {
        width: 86%;
        height: 180px;
    }

    #Contact form {
        visibility: hidden;

    }

    .contact-infos {
        position: sticky;
        right: 154px;
    }

    .contact-infos-text {
        overflow-wrap: normal;
    }


}