.n-wrapper {
    display: flex;
    justify-content: space-between;
}

.n-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.n-name {
    font-size: 1.3rem;
    font-weight: bold;
}

.n-name img {
    width: 150px;
    height: 120px;
    /* border-radius: 63px;*/
}

.n-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.n-list {
    flex: 10;

}

.n-list>ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    align-items: center;
    justify-content: end;
    color: white;
}

.n-list>ul>li>a:hover {
    cursor: pointer;
    color: white;

}

a {
    color: white;
}

.button a {
    color: white;
}

.button a:hover {
    text-decoration: none;
    background: white;
    cursor: pointer;
    color: var(--orange);
    border: 1px solid var(--pink);
}




/********** media **************/
@media only screen and (max-width: 1024px) {
    .button a {
        position: relative;
        top: -5px;
    }
}

@media only screen and (max-width: 768px) {
    .n-wrapper {
        flex-direction: column;
    }

    .n-left,
    .n-right {
        flex: none;
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;

    }

    .n-list>ul {
        margin-right: 0;
        justify-content: center;
    }

    .button a {
        position: relative;
        top: 0px;
    }
}


@media only screen and (max-width: 480px) {
    .n-name {
        font-size: 1rem;
    }

    .n-list>ul {
        flex-direction: column;
        gap: 1rem;
    }

    .n-list>ul>li>a {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 450px) {
    .n-name img {
        position: relative;
        top: 135px;
        right: 36px;
        width: 55%;
    }

}

@media only screen and (max-width:390px) {
    .n-wrapper {
        position: relative;
        top: -139px;
    }

}