.works {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 60vh;
    margin-top: 4rem;

}

.awesome span:nth-child(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
}

.awesome span:nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome span {
    display: flex;
    font-size: larger;
    flex-direction: row;
}

/* Right */
.w-right {
    position: relative;
}

.w-mainCircle {
    margin-top: 80px;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white;
    right: 20%;
}

.w-mainCircle>* {
    position: absolute;
}

.w-mainCircle>:nth-child(1) {
    top: -3rem;
    left: 6rem;
}

.w-mainCircle>:nth-child(2) {
    left: -3rem;
    top: 5rem;
}

.w-mainCircle>:nth-child(3) {
    left: 6rem;
    top: 5rem;
}

.w-mainCircle>:nth-child(4) {
    left: 15rem;
    top: 5rem;
}

.w-mainCircle>:nth-child(5) {
    left: 6rem;
    top: 13rem;
}

.w-secCircle {
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: "none";
    box-shadow: var(--smboxShadow);
    /* ombre grise cercle*/
    background: white;
}

.w-secCircle>img {
    transform: scale(0.6);

}

.w-backCircle {
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
}

.beigeCircle {
    background: rgba(252, 166, 31, 0.45);
    left: 9rem;
    top: 80px;

}

.greyCircle {
    background: #F0F0F0;
    left: 9rem;
    top: 14rem;

}





.awesome {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.awesome>* {
    color: var(--black);
}

.button {
    width: 8rem;
    height: 3rem;
    font-size: medium;
    color: white;
}


/****** Media *********/
@media only screen and (max-width: 1024px) {

    /* Styles for screens up to 1024px wide */
    .works {
        display: flex;
        flex-direction: column;
    }

    .w-right {
        display: none;
    }

}

@media only screen and (max-width: 768px) {

    /* Styles for screens up to 768px wide */
    .awesome {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button.s-button {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 480px) {

    /* Styles for screens up to 480px wide */
    .awesome {
        font-size: 14px;
    }
}