/* Conteneur principal pour les compétences */
#competences {
    width: 100%;
    padding: 50px 0;
    margin-top: 200px;
}

/* Style du titre des compétences */
.title_competences {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #f703c7;
}

.title_competences span {
    font-size: larger;
}

/* Conteneur des travaux */
.works {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

/* Style pour les domaines de compétences */
.awesome {
    text-align: center;
}

/* Titre des domaines de compétences */
.title_domaines {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.title_domaines span {
    font-size: larger;
}

/* Disposition des éléments des domaines de compétences */
.competence-description {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Cadre pour chaque domaine de compétence */
.competence-item {
    width: 250px;
    padding: 20px;
    background: linear-gradient(40deg, #f703c7 12.71%, #eeebee 85.36%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
}

/* Styles pour les icônes de compétences */
#competenceIcons {
    width: 100%;
    text-align: center;
}

/* Titre des compétences en développement */
.title_icons {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.title_icons span {
    font-size: larger;
}

/* Conteneur des icônes de compétences */
.containerIcons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    border: 2px solid black;
    height: 160px;
    background-color: #eeebee;
}

/* Style pour chaque icône avec son texte */
.iconWithText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    /* Animation fluide */
    cursor: pointer;
    /* Ajout de la main au survol */
}

/* Conteneur des images des icônes */
.contentIcon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/* Texte sous les icônes */
.iconWithText span {
    font-size: 1rem;
    font-weight: bold;
}

/* Animation sur le survol des icônes */
.iconWithText:hover {
    transform: translateY(-10px) scale(1.1);
    /* Déplacer et agrandir */
}

/* Optionnel ajouter un effet visuel supplémentaire lors du clic */
.iconWithText:active {
    transform: translateY(0px) scale(1.05);
    /* Effet au clic */
}