/*#a-propos {
    border: 2px solid black;
    background-color: #F0F0F0;
}*/


#a-propos .intro {
    display: flex;
    height: 19vh;
    margin-top: 40px;

}

#a-propos img {
    position: absolute;
    width: 91%;
    height: 40%;
    margin-top: -22px;
}


.i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.i-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description_name span {
    color: white;

}

.i-name>:nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(3) {
    color: var(--gray);
    font-weight: 100;
    font-size: 21px;
    margin-top: 10px;
}


.i-button {
    width: 6rem;
    height: 2rem;
}

.button {
    width: 8rem;
    height: 4rem;
    font-size: medium;
    color: white;
}

.icons {
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
}

.icons>* {
    /* tous les éléments enfants directs de l'élément avec la classe "icons" */
    transform: scale(0.5);
}

.icons>*:hover {
    cursor: pointer;
}


.i-right {
    flex: 1;
    padding-bottom: 20px;
}

.i-right img {
    position: relative;
    /* width: 70%;
    height: 50%;*/
    border-radius: 2rem;
    margin-left: 7rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    ;
}

/*.fondGris {
    position: absolute;
    width: 425px;
    height: 33rem;
    border-radius: 50%;
    background: #808080;
    filter: blur(212px);
    z-index: -9;
    top: 18%;
    left: 56%;
    filter: blur(72px);
}*/


/********* Media *********/

@media only screen and (max-width: 1024px) {

    .contactClose {
        bottom: 73%;
    }

}


@media only screen and (max-width: 768px) {
    .intro {
        flex-direction: column;
        height: auto;
        margin-top: 3rem;
    }

    .i-left {
        margin-bottom: 2rem;
        text-align: center;
    }

    .i-right {
        margin-left: 0;
        text-align: center;
    }

    .i-right img {
        width: 80%;
        height: auto;
        margin-left: 0;
    }

    .fondGris {
        display: none;
    }

    .modalContact {
        height: 45%;
        width: 45%;
    }

    .contactClose {
        bottom: 96%;
    }
}


@media only screen and (max-width: 480px) {

    .i-name>:nth-child(1),
    .i-name>:nth-child(2) {
        font-size: 2rem;
    }

    .i-name>:nth-child(3) {
        font-size: 16px;
    }

    .i-button {
        width: 5rem;
        height: 1.5rem;
    }

    .icons {
        margin-top: 2rem;
    }

    .icons>* {
        transform: scale(0.4);
    }

    .fondGris {
        display: none;
    }

    .modalContact {
        width: 88%;
        height: 67%;
    }

    .contactClose {
        bottom: 65%;
    }
}