.footer {
    background-color: transparent;
    padding: 10px 0;
    text-align: center;
    border-top: 5px solid #FF00FF;

}

.footer-bar {
    display: flex;
    justify-content: center;

}

.footer-bar a {
    color: white;
    font-size: 20px;
    margin: 0 10px;

}

.footer-bar img {
    width: 80px;
}

.Droits {
    color: #eee;
}

/*********Media*********/
.icons {
    display: flex;
    justify-content: center;
    margin: 0;
}


/* Media Queries pour tablette */
@media only screen and (max-width: 768px) {

    .icons {
        flex-direction: row;
        align-items: center;
    }

    .footer {
        margin-top: 54px;
    }


}

/* Media Queries pour mobile */
@media only screen and (max-width: 480px) {
    .icons a {
        margin: 10px 0;
    }
}

@media only screen and (max-width: 425px) {

    .footer {
        height: 100px;
    }

    .footer-bar {
        height: 50%;
    }

    .icons {
        display: flex;
        flex-direction: row;
    }

    .icons a {
        margin: -5px 0;
    }



}

@media only screen and (max-width: 400px) {
    .footer {
        /*height: 115px;*/
        top: 131px;
        position: relative;
    }

}

@media only screen and (max-width: 390px) {
    .footer {
        height: 60px;
        position: static;
    }

}

@media only screen and (max-width: 266px) {
    .footer {
        height: 110px;
    }
}