.footer {
    background-color: #F0F0F0;
    padding: 10px 0;

}

.footer-bar {
    display: flex;
    justify-content: center;

}

.footer-bar a {
    color: white;
    font-size: 20px;
    margin: 0 10px;

}


/*********Media**********/
.footer {
    text-align: center;
    padding: 20px 0;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons a {
    margin: 0 10px;
}

/* Media Queries pour tablette */
@media only screen and (max-width: 768px) {

    .icons {
        flex-direction: row;
        align-items: center;
    }


}

/* Media Queries pour mobile */
@media only screen and (max-width: 480px) {
    .icons a {
        margin: 10px 0;
    }
}

@media only screen and (max-width: 425px) {

    .footer {
        height: 100px;
    }

    .footer-bar {
        height: 50%;
    }

    .icons {
        display: flex;
        flex-direction: row;
    }

    .icons a {
        margin: -5px 0;
    }

    .footer .Droits {
        padding-top: 18px;

    }

}

@media only screen and (max-width: 320px) {
    .footer {
        height: 115px;
    }




}